.calendar {
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2rem;
  display: flex;
  position: fixed;
  top: 40%;
  left: 28%;
  flex-direction: column;
  /* position: relative; */
  width: 800px;
  height: 200px;
}
.react-calendar__tile {
  border: 1px solid grey !important;
  height: 100px;
  width: 300px;
}

.react-calendar {
  border: none;
}

h1 {
  text-align: center;
  margin-top: 3rem;
}

.btn {
  position: relative;
  left: 25%;
  width: 50%;
  padding: 10px;
}

.btn button {
  margin-right: 15px;
  width: 30%;
  height: 50px;
  background-color: red;
  border-radius: 20px;
}
